.about{
    height:600px;
    width:100%;
    
    background-color: black;
    scroll-margin: 95px;

    
  
}
.about .part{
    display: flex;
}


.about-text{
   flex:4;
   color:white;
   margin-left: 10%;
}
.about-text h2{
    /* font-size: 40px; */
    font-weight: 300; 
    /* letter-spacing: 8px; */
    font-family: 'Vollkorn';
    letter-spacing: 2px;
    font-size: 2.7rem; /* 117 / 18 = 6.5 */
    margin-bottom: 0.25385rem;
    text-transform: uppercase;
}

.about-text .desc{
    padding-top: 10px;
    font-size:25px;
    
}

.about-img{
    flex:6
}

.whyus{
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    font-weight:300;
    font-family: "Merriweather";
    color: white;
    font-style: italic;
}

/* .divider{
    margin-left: 20%;
    margin-right: 20%;
    height:20px;
    color:white;
     */


    
     
      
    
      /* filter: blur(1em); 
      transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
      background: hsl(186 100% 69%); */
     
    

/* 
.divider::before{

  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
 
  pointer-events: none;
 
  
  background: hsl(186 100% 69%);
}

.divider::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: hsl(186 100% 69%);
  box-shadow: 0 0 2em 0.2em hsl(186 100% 69%);
  transition: opacity 100ms linear;
} */

.divider {
  --glow-color: #00e0ff;

  margin-left: 20%;
  margin-right: 20%;
  height:2px;
              position: relative;
  color: var(--glow-color);
  cursor: pointer;
  
  border: 3px solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: 900;
  

 /* Tube-like glow effect 
 box-shadow: 0 0 15px var(--glow-color), /* Immediate soft glow 
 0 0 30px var(--glow-color), /* Medium glow 
 0 0 60px var(--glow-color), /* Extended glow 
 0 0 100px var(--glow-color); /* Outer, larger glow */

 /* Glow only at the bottom */
 box-shadow: 0 10px 15px var(--glow-color), /* Bottom glow */
 0 20px 30px var(--glow-color), /* Further bottom glow */
 0 40px 60px var(--glow-color), /* Extended bottom glow */
 0 60px 100px var(--glow-color); /* Large bottom glow */
  
}

.divider::before {
  --glow-color: #00e0ff;
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.2;
  filter: blur(15px); /* Add a blur for a glowing effect */
  background: hsl(186 100% 69%); /* Glow color */
  pointer-events: none; /* Make sure it doesn't block interactions */
  z-index: -1; /* Ensure it's behind the hr */
}

.divider::after {
  --glow-color: #00e0ff;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--glow-color);
  box-shadow: 0 0 20px 5px var(--glow-color); /* Outer glow */
  opacity: 0.5;
  transition: opacity 100ms linear;
  z-index: -1; /* Ensure it's behind the hr */
}
.cards{
  display: flex;
  justify-content: center; 
   align-items: center;
  flex-wrap: wrap;
  min-height: 90vh;
  background: #000;
  padding-bottom: 30px ;
}
 .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    /* margin: 20px 0; */
    margin-top: 0;
    margin-bottom: 30px;
  }
  
  .container .card {
    position: relative;
    min-width: 320px;
    height: 350px;
    box-shadow: inset 5px 5px 5px #1674818e,
      inset -5px -5px 15px rgba(184, 119, 180, 0.556),
      5px 5px 15px #16816f8e, -5px -5px 15px #00e0ff;
    border-radius: 15px;
    margin: 30px;
    margin-top: 0;
   
    transition: 0.5s;
    top:0;
    
  }
  
 
  
 .container .card .box {
    position: absolute;
    top: 10px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #2a2b2f;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
  }
  
  .container .card:hover{
    transform: rotate(10deg) translateY(-50px);
  }
 .container .card .box:hover {
    /* transform: translateY(-50px); */
    transform: rotate(-20deg) translateY(-50px);
  }
  
  .container .card .box:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(90, 138, 209, 0.525);
  }
  
 .container .card .box .content {
    padding: 20px;
    text-align: center;
  }
  
  .container .card .box .content h2 {
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 8rem;
    color: rgba(255, 255, 255, 0.1);
  }
  
 .container .card .box .content h3 {
    font-size: 1.8rem;
    color: #fff;
    z-index: 1;
    transition: 0.5s;
    margin-bottom: 15px;
  }
  
  .container .card .box .content p {
    font-size: 1rem;
    font-weight: 300;
    /* color: rgba(255, 255, 255, 0.9); */
    color: #fff;
    z-index: 1;
    transition: 0.5s;
  }
  

