.contact{
    display: flex;
    background-color: black;
    scroll-margin: 100px;
}
.contact-img{
    flex:5;
    align:center;
   margin-top: 0;
    height:500px;
    width:500px;
}

.contact-form{
flex:5;

}

iframe{
    width:100%;
}

.contact-form h2{
    color:azure;
    letter-spacing: 8px;
    font-family: 'Vollkorn';
    font-size: 3.0rem; /* 117 / 18 = 6.5 */
    margin-bottom: 0.25385rem;
    text-transform: uppercase;
}
.contact-form p{
    color: azure;
    font-style: italic;
    font-size: 25px;
}

.form{
    display: flex;
  /* justify-content: left;
  align-items: left; */
}
.form-card{
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
}

  .form-card  .form-input {
    padding: 20px 25px 15px;
    width: 100%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 15px;
    /* background: transparent; */
    outline: none;
    
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
  box-sizing: border-box;

    &:valid,
    &:focus {
      border: 1px solid #5d508d;
    }

    &:valid ~ .form-label,
    &:focus ~ .form-label {
      color: grey;
      top: 30%;
      transform: translateY(-70%);
      font-size: 13px;
      line-height: 23px;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      transition: background-color 9999s ease-in-out 0s;
    }
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .form-label {
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.3s;
    margin: 0;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
  }
  
  .button{
    height: 40px;
    width: 160px;
    /* clip-path: path("M 0 25 C 0 -5, -5 0, 80 0 S 160 -5, 160 25, 165 50 80 50, 0 55, 0 25"); */
    border: none;
    border-radius: 13px;
    border-bottom-right-radius: 13px;
    background-color: var(--primaryBg);
    box-shadow: 0px -3px 15px 0px var(--primaryHi) inset;
    color: var(--primaryFg);
    font-family: "Vollkorn";
    font-size: 22px;
    cursor: pointer;
    
    margin-left: 70px;
   
  
  
    
  
    --primaryBg: hsla(155, 100%, 65%, 1%);
    --primaryHi: hsla(196, 68%, 51%, 0.718);
    --primaryFg: hsl(0, 0%, 100%);
  }
  